<button type="button" class="btn btn-primary" (click)="openModal()">
    <i class="bi bi-pencil-square-fill"></i> Modifier Client
  </button>
  
  <div class="row justify-content-center mt-5">
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Modifier Client</h4>
            <button type="button" class="btn btn-default" aria-label="Close" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
              <div class="mb-4">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" formControlName="firstname" required>
              </div>
              <div class="mb-4">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" formControlName="lastname" required>
              </div>
              <div class="mb-4">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" formControlName="email">
              </div>
              <div class="mb-4">
                <label class="form-label">Phone Number</label>
                <input type="text" class="form-control" formControlName="phonenumber">
              </div>
              <div class="mb-4">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  