<div class="container">
    <h2>Les Clients</h2>
    <div>
        <app-create></app-create>
        </div>
    <table mat-table [dataSource]="clients" class="mat-elevation-z8" #mytable>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let t">{{t.firstname}}</td>
        </ng-container>
        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let t">{{ t.lastname}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let t">{{ t.email}}</td>
        </ng-container>
        <ng-container matColumnDef="phonenumber">
            <th mat-header-cell *matHeaderCellDef>Phone Number</th>
            <td mat-cell *matCellDef="let t">{{ t.phonenumber}}</td>
        </ng-container>
        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let t">
                    <button (click)= "onedit(t.id,t.data)">
                      <mat-icon > edit</mat-icon>
                    </button>
                 <!--   <a [routerLink]="['clients/:client/edit', t.id, 'edit']" (click)="onUpdate()" 
                   class="btn btn-default"><i class="bi sbi-pencil-square" style="color:blue"></i>
                </a>-->
                <button type="button" (click)=" deleteClient(t.id)" class="btn btn-default">
                    <i class="bi bi-trash-fill" style="color:red"></i>
                </button>
           </td>
        </ng-container>
    </table>


</div>